### Functions and Modules in Python

Functions

If a group of statements is repetadely required then it is not recommended to write these 
statements everytime separately. We have to define these statements as a single unit and 
we can call that unit a number of times based on our requirement without rewriting. This unit
is nothing but function.

The main advantage of function is code reusability.
Note - In other languages functions are known as method, procedures, subroutines etc

Python Supports 2 types of functions
1. Built in Functions - id(), type(), len(), input() etc
2. User Defined Functions

In [ ]:
The functions which are developed by the programmer explicitly according to the requireemnts
those are called User Defined Functions

In [ ]:
Syntax - 
def function_name(paramter):  ### function_name  - Can be anything
    statement - 1

In [ ]:
Note - While creating functions we can use 2 keywords
1. def (mandatory)
2. return (optional)

In [2]:
#### Write a function to print Hello
def wishing():
    print("Hello")  ### Defining the function

In [3]:
wishing()  #### Calling the function

Hello

In [4]:
wishing()

Hello

In [ ]:
Note - While a passing a parameter in function, while callig also you have to give parameter values

In [ ]:
Parameter are inputs to the functions. If a function contains a parameter then at
the time of calling compulsory we should provide values otherwise you will get error

In [5]:
def wish (name): ## name is a parameter
    print("Hello",name,"Good Afternoon")

In [6]:
wish("Raj")

Hello Raj Good Afternoon

In [7]:
wish("Rohan")

Hello Rohan Good Afternoon

In [ ]:
### Write a function to take number as input and print its square value
### Write functions to add, sub, multiply and divide two numbers.

In [ ]:
## Return Statement
Function can take input as parameters and executes buisness logic and returns output to the
caller with the return statement

In [8]:
def add(x,y):
    return x+y

In [10]:
result = add(12,15)

In [12]:
print("The Addition is", result)
print("The addition is", add(150,200))

The Addition is 27
The addition is 350

In [13]:
### Can you write a program to check whether the given number is odd or even
def even_odd(num):
    if num%2 == 0:
        print(num,"The Number is Even")
    else:
        print(num, "The Number is Odd")

In [16]:
even_odd(898976546)

898976546 The Number is Even

In [ ]:
### retruning multiple values from a function - 
In other languages like C++, Java function can return atmost one value, but in python it can return 
multiple values

In [19]:
def sum_sub(a,b):
    sum = a+b
    sub = a-b
    #return sum, sub

In [21]:
x, y = sum_sub(14,18)

In [22]:
print("The Sum is ", x)
print("The Sub is ",y)

The Sum is  32
The Sub is  -4

In [23]:
def sum_sub(a,b):
    sum = a+b
    sub = a-b

In [24]:
sum_sub(10,15)

In [ ]:
There are types of Arguments
def f1(a,b):
    -----
    ----
f1(10,20)

In [ ]:
a, b are formal arguments  where as 10, 20 are actuaol argumeents
1. positional Argument
2. Keyword Argument
3. Default argument
4. Variable length Argument

In [29]:
#1. Positional Argument
def sub(a,b,c):
    return a - b

In [30]:
print(sub(100,200))
print(sub(200,500))

TypeError: sub() missing 1 required positional argument: 'c'

In [ ]:
## 2. Keyword Argument
We can pass argument values by keywords, i.e by parameter name

In [31]:
def wish (name , msg):
    print("Hello", name, msg)

In [32]:
wish(name = "Rahul", msg = "How are you")

Hello Rahul How are you

In [35]:
wish("Very Good Morning","Rohan")

Hello Very Good Morning Rohan

In [ ]:
### Hence here the order is not important but the number of arguments shuld be matched

In [46]:
### 3. Default Argument
def wish(Name,Age = 37,Class = 5):  ### Whenever you define multiple parameter and one is your defalt,it hsould 
    #be mentioned ast the last
    print(Name, " = ", Age, Class)
    ### Non-default arguments follows default arguments

In [47]:
wish("Rohan")

Rohan  =  37 5

In [38]:
wish()

hello Guest Good Afternoon

In [ ]:
### 4. variable length Argument
Sometimes we can pass variable number of arguments to our function, such 
type are called as variable length argument

In [ ]:
## We can declare the varible length argument with * symbol

In [66]:
def f1(Name,**n):
    print(Name,n)

In [67]:
f1(Name = "Rohan", 76)

SyntaxError: positional argument follows keyword argument (<ipython-input-67-f1b3dd49c7d3>, line 1)

In [72]:
def rto (*cars):
    print(cars)

In [73]:
rto("Suzuki",45, 78)

('Suzuki', 45, 78)

In [68]:
def g1(*n,Age):  #### When we are passing variable length argument we have define first after that
    #### non variable, non-default length argument
    print(n, Age)

In [69]:
g1("Rahul", Age = 45)

('Rahul',) 45

In [70]:
def f1 (**kwargs):  #### Key word argument
    print(kwargs)

In [74]:
f1(car = "Suzuki", mpg = 45, horsepower = 80)  ### return the output in dict

{'car': 'Suzuki', 'mpg': 45, 'horsepower': 80}

In [ ]:
There are two types of variable
1. Local variable 
2. Global variable

In [78]:
a = 10  ### Global variable
def f1():
    print(a)
def f2():
    print(a)

In [79]:
f1()
f2()

10
10

In [84]:
#2. Local Variable
def f1():
    t = 10   #### Local variable
    print(t)
def f2():
    print(t)

In [85]:
f1()
f2()

10

NameError: name 't' is not defined

In [82]:
f2()

10

In [ ]:
global keyword
### to declare global variable inside function 
## to make gloabal variable available to the function so that we can perform required modifications

In [89]:
a =10
def f1():
    global a
    a = 777
    print(a)

def f2():
    print(a)

In [90]:
f1()

777

In [91]:
f2()

777

In [ ]:
### Anonymous Functions - Sometimes we define a function without a name, nameless function
or Lambda Function

In [92]:
### Normal User Defined Function
def square(n):
    return n*n

In [93]:
square(2)

4

In [95]:
#### Anonymous Function (Lambda)
a = lambda n: n*n

In [96]:
a(6)

36

In [97]:
add = lambda a,b : a+b

In [98]:
add(23,78)

101

In [100]:
### Write a program to find the biggest of given values
s = lambda a,b,c : a if a> b and b > c else b if b < c else c
s(10,20,89)

20

In [ ]:
#### Modules - In Python
Math module - All mathematical functions are present over here
Module -  Is basically a code libaray, where pre-defined functions are present

In [105]:
import math as m ## Here m is just an alias

In [103]:
from math import sqrt

In [104]:
sqrt(4)

2.0

In [106]:
m.sqrt(4)

2.0

In [107]:
import math

In [108]:
math.sqrt(4)

2.0

In [110]:
math.pi

3.141592653589793

In [ ]:
Using a math Module can you write a program to find the area of a circle for any given radius
Area of a Rhombus, Circumeference of a circle, cylinder
### hint  - pi* r^2

In [111]:
import math as m
pi = math.pi
r = int(input("Enter the Radius"))
Area_circle = pi*(r^2)
Area_circle

Enter the Radius4

18.84955592153876

In [112]:
### Pandas - Pandas is mostlu used for Data Analysis and Preprocess (Exploratory Data Analysis)

In [113]:
import pandas as pd
### A library for Data manipulation and Analysis

In [114]:
#### In pandas there are two things 
##  1. Series - One dimensional array
### 2. Data Frame - Two Dimensional Array

In [118]:
l = [10,20,30,40,50]
l, type(l)

([10, 20, 30, 40, 50], list)

In [119]:
s = pd.Series(l)
s, type(s)

(0    10
 1    20
 2    30
 3    40
 4    50
 dtype: int64,
 pandas.core.series.Series)

In [120]:
### Data Frame  - is a two dimesional array with rows and Columns
d = pd.DataFrame(l)
d

    0
0  10
1  20
2  30
3  40
4  50

In [121]:
### How to read a file in Python
# Exploratory Data Analysis - If there is a Data and you want to understand the history and its various 
# areas about the data while exploring that is called as Exploratory Data Analysis

In [124]:
df = pd.read_excel("E:/Top Mentor/Datasets/Example.xlsx")
df, type(df)

(    Customer   Age      Sex  Groceries  Choco-bars  Type   Satisfied   Bulk
 0           1    36    Male        180           3  White           4     3
 1           2    45    Male        180           4   Milk           3     2
 2           3    20  Female        220           3  White           2     3
 3           4    27  Female        180           2  White           4     2
 4           5    22  Female        220           5   Milk           3     2
 5           6    39    Male        150           2   Dark           4     2
 6           7    30    Male        220           5   Dark           2     4
 7           8    42    Male        220           2   Milk           4     1
 8           9    20  Female        250           3  White           4     4
 9          10    40  Female        180           2   Milk           3     1
 10         11    38  Female        180           2  White           2     3
 11         12    31    Male        150           4   Dark           2     1
 12         13    19    Male        220           2   Dark           2     3
 13         14    23    Male        180           5   Dark           1     4
 14         15    36  Female        200           2  White           4     1
 15         16    24  Female        150           3  White           3     4
 16         17    28  Female        220           4   Milk           1     3
 17         18    25    Male        220           3   Dark           3     3
 18         19    34    Male        220           4   Dark           4     1
 19         20    39    Male        200           4   Dark           4     2
 20         21    20  Female        220           5   Dark           4     1
 21         22    44  Female        200           3   Milk           4     4
 22         23    20  Female        220           3   Dark           2     4
 23         24    31    Male        250           4   Dark           4     4
 24         25    32    Male        250           3   Milk           1     3
 25         26    29    Male        180           3   Dark           1     4
 26         27    22  Female        150           4   Dark           3     3
 27         28    19  Female        200           2   Dark           3     2
 28         29    40  Female        150           4   Dark           2     1
 29         30    29    Male        250           3  White           4     4
 30         31    40    Male        220           5  White           1     1
 31         32    36    Male        180           5   Milk           2     3
 32         33    22  Female        150           5   Dark           2     2
 33         34    32  Female        200           5   Milk           1     1
 34         35    18  Female        150           2   Dark           3     1
 35         36    45    Male        150           2   Dark           1     3
 36         37    23    Male        220           4   Dark           3     2
 37         38    42    Male        200           2   Milk           3     3
 38         39    20  Female        150           5   Dark           2     4
 39         40    44  Female        250           3  White           3     3
 40         41    23  Female        220           4   Dark           2     1
 41         42    24    Male        150           2   Dark           2     1
 42         43    29    Male        180           4  White           2     4
 43         44    32    Male        150           4   Dark           2     1
 44         45    26  Female        250           2  White           4     3
 45         46    40  Female        250           3   Dark           3     4
 46         47    37  Female        220           5  White           2     4
 47         48    23    Male        150           5   Dark           4     3
 48         49    36    Male        180           4  White           3     3
 49         50    24    Male        180           2   Dark           4     3,
 pandas.core.frame.DataFrame)

In [127]:
df.head(15) #### Head is a function for Data Frame
### Head would show the 1st 5 values of the data

    Customer   Age      Sex  Groceries  Choco-bars  Type   Satisfied   Bulk
0           1    36    Male        180           3  White           4     3
1           2    45    Male        180           4   Milk           3     2
2           3    20  Female        220           3  White           2     3
3           4    27  Female        180           2  White           4     2
4           5    22  Female        220           5   Milk           3     2
5           6    39    Male        150           2   Dark           4     2
6           7    30    Male        220           5   Dark           2     4
7           8    42    Male        220           2   Milk           4     1
8           9    20  Female        250           3  White           4     4
9          10    40  Female        180           2   Milk           3     1
10         11    38  Female        180           2  White           2     3
11         12    31    Male        150           4   Dark           2     1
12         13    19    Male        220           2   Dark           2     3
13         14    23    Male        180           5   Dark           1     4
14         15    36  Female        200           2  White           4     1

In [128]:
df.tail(20)  ### Last 5 values its shwoing me

    Customer   Age      Sex  Groceries  Choco-bars  Type   Satisfied   Bulk
30         31    40    Male        220           5  White           1     1
31         32    36    Male        180           5   Milk           2     3
32         33    22  Female        150           5   Dark           2     2
33         34    32  Female        200           5   Milk           1     1
34         35    18  Female        150           2   Dark           3     1
35         36    45    Male        150           2   Dark           1     3
36         37    23    Male        220           4   Dark           3     2
37         38    42    Male        200           2   Milk           3     3
38         39    20  Female        150           5   Dark           2     4
39         40    44  Female        250           3  White           3     3
40         41    23  Female        220           4   Dark           2     1
41         42    24    Male        150           2   Dark           2     1
42         43    29    Male        180           4  White           2     4
43         44    32    Male        150           4   Dark           2     1
44         45    26  Female        250           2  White           4     3
45         46    40  Female        250           3   Dark           3     4
46         47    37  Female        220           5  White           2     4
47         48    23    Male        150           5   Dark           4     3
48         49    36    Male        180           4  White           3     3
49         50    24    Male        180           2   Dark           4     3

In [129]:
df.shape  ### Number of Rows, Columns

(50, 8)

In [130]:
data = df.copy()  ### Data Pre-processing
data.head()

   Customer   Age      Sex  Groceries  Choco-bars  Type   Satisfied   Bulk
0          1    36    Male        180           3  White           4     3
1          2    45    Male        180           4   Milk           3     2
2          3    20  Female        220           3  White           2     3
3          4    27  Female        180           2  White           4     2
4          5    22  Female        220           5   Milk           3     2

In [131]:
data.info()  ### Information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Customer    50 non-null     int64
 1   Age         50 non-null     int64
 2   Sex         50 non-null     object
 3   Groceries   50 non-null     int64
 4   Choco-bars  50 non-null     int64
 5   Type        50 non-null     object
 6   Satisfied   50 non-null     int64
 7   Bulk        50 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.2+ KB

In [132]:
df1 = pd.read_csv("E:/Top Mentor/Datasets/Employee.csv")

In [133]:
df1.head()

       Role       Name Building  Years_employed
0  Engineer   Becky A.       1e               4
1  Engineer     Dan B.       1e               2
2  Engineer  Sharon F.       1e               6
3  Engineer     Dan M.       1e               4
4  Engineer  Malcom S.       1e               1

In [134]:
data.describe()  ### which are numerical in nature
#### Descriptive Statistics of you data

       Customer        Age    Groceries  Choco-bars  Satisfied        Bulk
count   50.00000  50.000000   50.000000    50.00000   50.000000  50.000000
mean    25.50000  30.400000  196.200000     3.42000    2.720000   2.580000
std     14.57738   8.342172   34.040192     1.12649    1.050559   1.144463
min      1.00000  18.000000  150.000000     2.00000    1.000000   1.000000
25%     13.25000  23.000000  180.000000     2.00000    2.000000   1.250000
50%     25.50000  29.500000  200.000000     3.00000    3.000000   3.000000
75%     37.75000  37.750000  220.000000     4.00000    4.000000   3.750000
max     50.00000  45.000000  250.000000     5.00000    4.000000   4.000000